harvest/rollup.workflow.json
{
  "id": "spotifyRollup01",
  "name": "Spotify monthly roll-up \u2192 GitHub (music-curator)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 1,
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Monthly 1st 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "queue",
        "key": "spotify:harvests",
        "keyType": "list",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Read queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Spotify monthly roll-up -- music-curator. n8n Code node, \"Run Once for All Items\".\n// Input: the \"Read queue\" Redis Get node (keyType=list) put the raw list into\n// $json.queue as an array of snapshot JSON strings (each is one daily snapshot,\n// schema v1, as pushed by the producer's Redis node).\n// Output: one item per calendar month present in the queue, each carrying the\n// committable file { path, content, message } for the GitHub node.\n\nconst first = $input.first();\nconst rawQueue = (first && first.json && first.json.queue) || [];\nconst queue = Array.isArray(rawQueue) ? rawQueue : [rawQueue];\nif (!queue.length) {\n  // Nothing buffered -- emit no items so the GitHub/Delete nodes no-op.\n  return [];\n}\n\n// --- parse snapshots, tolerate the odd malformed string ---\nconst snapshots = [];\nfor (const entry of queue) {\n  try {\n    snapshots.push(typeof entry === 'string' ? JSON.parse(entry) : entry);\n  } catch (e) {\n    // skip an unparseable queue entry rather than fail the whole roll-up\n  }\n}\nif (!snapshots.length) return [];\n\n// --- helpers ---\nconst dayOf = (iso) => (iso || '').slice(0, 10);        // YYYY-MM-DD\nconst monthOf = (iso) => (iso || '').slice(0, 7);       // YYYY-MM\nconst RANGES = ['short_term', 'medium_term', 'long_term'];\n\n// month -> { snapshotDays:Set, profile, playlistsCount, artists: Map(name -> rec) }\nconst months = new Map();\nfunction bucket(month) {\n  if (!months.has(month)) {\n    months.set(month, { days: new Set(), profile: null, playlistsCount: 0, artists: new Map() });\n  }\n  return months.get(month);\n}\nfunction artistRec(b, name) {\n  if (!b.artists.has(name)) {\n    b.artists.set(name, {\n      name,\n      days: new Set(),            // distinct snapshot days seen in any signal\n      top_ranges: new Set(),      // ranges where in top ARTISTS\n      in_top_artists_days: new Set(),\n      in_top_tracks_days: new Set(),\n      followed: false,\n      saved_tracks_max: 0,\n      plays: new Set(),           // distinct recently_played `played_at` (de-duped)\n      genres: new Set(),\n    });\n  }\n  return b.artists.get(name);\n}\n\nfor (const snap of snapshots) {\n  const when = snap.harvested_at;\n  const month = monthOf(when);\n  const day = dayOf(when);\n  if (!month) continue;\n  const b = bucket(month);\n  b.days.add(day);\n  b.profile = snap.profile || b.profile;         // keep the latest profile seen\n  if (snap.playlists) b.playlistsCount = snap.playlists.length;\n\n  const mark = (name, day) => { const r = artistRec(b, name); r.days.add(day); return r; };\n\n  // top artists (the strongest rotation signal): name + range + genres\n  const top = snap.top || {};\n  for (const range of RANGES) {\n    for (const a of ((top.artists && top.artists[range]) || [])) {\n      if (!a || !a.name) continue;\n      const r = mark(a.name, day);\n      r.top_ranges.add(range);\n      r.in_top_artists_days.add(day);\n      (a.genres || []).forEach((g) => r.genres.add(g));\n    }\n    // top tracks -> credit each track's artists (weaker signal)\n    for (const t of ((top.tracks && top.tracks[range]) || [])) {\n      for (const nm of ((t && t.artists) || [])) mark(nm, day).in_top_tracks_days.add(day);\n    }\n  }\n\n  // followed artists\n  for (const a of (snap.followed_artists || [])) {\n    if (!a || !a.name) continue;\n    const r = mark(a.name, day);\n    r.followed = true;\n    (a.genres || []).forEach((g) => r.genres.add(g));\n  }\n\n  // saved library -- count distinct saved tracks per artist this snapshot, keep the max\n  const savedThisSnap = new Map();\n  for (const t of (snap.saved_tracks || [])) {\n    for (const nm of ((t && t.artists) || [])) savedThisSnap.set(nm, (savedThisSnap.get(nm) || 0) + 1);\n  }\n  for (const [nm, n] of savedThisSnap) {\n    const r = mark(nm, day);\n    if (n > r.saved_tracks_max) r.saved_tracks_max = n;\n  }\n\n  // recently played -- de-dupe real plays by played_at across the month\n  for (const t of (snap.recently_played || [])) {\n    for (const nm of ((t && t.artists) || [])) {\n      if (t.played_at) mark(nm, day).plays.add(t.played_at);\n    }\n  }\n}\n\n// --- emit one committable item per month ---\nconst now = new Date();\nconst out = [];\nfor (const [month, b] of months) {\n  const artists = {};\n  for (const [name, r] of [...b.artists.entries()].sort((a, c) => a[0].localeCompare(c[0]))) {\n    const days = [...r.days].sort();\n    artists[name] = {\n      days_seen: r.days.size,\n      first_seen: days[0],\n      last_seen: days[days.length - 1],\n      top_ranges: [...r.top_ranges].sort(),\n      in_top_artists_days: r.in_top_artists_days.size,\n      in_top_tracks_days: r.in_top_tracks_days.size,\n      followed: r.followed,\n      saved_tracks_max: r.saved_tracks_max,\n      plays: r.plays.size,\n      genres: [...r.genres].sort(),\n    };\n  }\n  const rollup = {\n    month,\n    generated_at: now.toISOString(),\n    source: 'spotify-web-api',\n    harvester: 'music-curator/n8n rollup',\n    schema: 1,\n    snapshot_days: b.days.size,\n    profile: b.profile,\n    playlists_count: b.playlistsCount,\n    artist_count: Object.keys(artists).length,\n    artists,\n  };\n  out.push({\n    json: {\n      path: `data/harvests/${month}.json`,\n      content: JSON.stringify(rollup, null, 2) + '\\n',\n      message: `chore(harvest): roll up ${month} Spotify snapshots (${b.days.size} days, ${rollup.artist_count} artists)`,\n    },\n  });\n}\nreturn out;\n"
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Aggregate roll-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "lentago",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "music-curator",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}",
        "additionalParameters": {}
      },
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "Commit roll-up",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "spotify:harvests",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000005",
      "name": "Drain queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1260,
        300
      ]
    }
  ],
  "connections": {
    "Monthly 1st 02:00": {
      "main": [
        [
          {
            "node": "Read queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read queue": {
      "main": [
        [
          {
            "node": "Aggregate roll-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate roll-up": {
      "main": [
        [
          {
            "node": "Commit roll-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit roll-up": {
      "main": [
        [
          {
            "node": "Drain queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "active": false
}
