harvest/rollup.workflow.json
{
  "id": "spotifyRollup01",
  "name": "Spotify monthly roll-up \u2192 GitHub PR (music-curator)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 1,
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Monthly 1st 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "queue",
        "key": "spotify:harvests",
        "keyType": "list",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "Read queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "redis": {
          "id": "redisLocal01",
          "name": "Redis (local)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Spotify monthly roll-up -- music-curator. n8n Code node, \"Run Once for All Items\".\n// Input: the \"Read queue\" Redis Get node (keyType=list) put the raw list into\n// $json.queue as an array of snapshot JSON strings (each one daily snapshot,\n// schema v1, as pushed by the producer).\n// Action: aggregate a per-artist roll-up per calendar month, then for each month\n// commit data/harvests/YYYY-MM.json to a branch, open a PR, and auto-merge it.\n// Output: one status item per month committed.\n\nconst helpers = this.helpers;\nconst TOKEN = $env.GITHUB_TOKEN;\nif (!TOKEN) throw new Error('Missing GITHUB_TOKEN in n8n env (fine-grained PAT, Contents + Pull requests write; set N8N_BLOCK_ENV_ACCESS_IN_NODE=false).');\nconst OWNER = 'lentago', REPO = 'music-curator', BASE = 'main';\nconst GH = 'https://api.github.com';\n\nconst first = $input.first();\nconst rawQueue = (first && first.json && first.json.queue) || [];\nconst queue = Array.isArray(rawQueue) ? rawQueue : [rawQueue];\nif (!queue.length) return [];\n\n// --- parse snapshots, tolerate the odd malformed string ---\nconst snapshots = [];\nfor (const entry of queue) {\n  try { snapshots.push(typeof entry === 'string' ? JSON.parse(entry) : entry); } catch (e) { /* skip */ }\n}\nif (!snapshots.length) return [];\n\n// --- aggregate ---\nconst dayOf = (iso) => (iso || '').slice(0, 10);\nconst monthOf = (iso) => (iso || '').slice(0, 7);\nconst RANGES = ['short_term', 'medium_term', 'long_term'];\nconst months = new Map();\nfunction bucket(m) {\n  if (!months.has(m)) months.set(m, { days: new Set(), profile: null, playlistsCount: 0, artists: new Map() });\n  return months.get(m);\n}\nfunction artistRec(b, name) {\n  if (!b.artists.has(name)) b.artists.set(name, {\n    name, days: new Set(), top_ranges: new Set(), in_top_artists_days: new Set(),\n    in_top_tracks_days: new Set(), followed: false, followed_days: new Set(),\n    saved_tracks_max: 0, plays: new Set(), genres: new Set(),\n  });\n  return b.artists.get(name);\n}\nfor (const snap of snapshots) {\n  const month = monthOf(snap.harvested_at), day = dayOf(snap.harvested_at);\n  if (!month) continue;\n  const b = bucket(month);\n  b.days.add(day);\n  b.profile = snap.profile || b.profile;\n  if (snap.playlists) b.playlistsCount = snap.playlists.length;\n  const mark = (name, d) => { const r = artistRec(b, name); r.days.add(d); return r; };\n  const top = snap.top || {};\n  for (const range of RANGES) {\n    for (const a of ((top.artists && top.artists[range]) || [])) {\n      if (!a || !a.name) continue;\n      const r = mark(a.name, day); r.top_ranges.add(range); r.in_top_artists_days.add(day);\n      (a.genres || []).forEach((g) => r.genres.add(g));\n    }\n    for (const t of ((top.tracks && top.tracks[range]) || [])) {\n      for (const nm of ((t && t.artists) || [])) mark(nm, day).in_top_tracks_days.add(day);\n    }\n  }\n  for (const a of (snap.followed_artists || [])) {\n    if (!a || !a.name) continue;\n    const r = mark(a.name, day); r.followed = true; r.followed_days.add(day);\n    (a.genres || []).forEach((g) => r.genres.add(g));\n  }\n  const savedThisSnap = new Map();\n  for (const t of (snap.saved_tracks || [])) for (const nm of ((t && t.artists) || [])) savedThisSnap.set(nm, (savedThisSnap.get(nm) || 0) + 1);\n  for (const [nm, n] of savedThisSnap) { const r = mark(nm, day); if (n > r.saved_tracks_max) r.saved_tracks_max = n; }\n  for (const t of (snap.recently_played || [])) for (const nm of ((t && t.artists) || [])) if (t.played_at) mark(nm, day).plays.add(t.played_at);\n}\n\n// --- build committable payloads per month ---\nconst now = new Date();\nconst payloads = [];\nfor (const [month, b] of months) {\n  // Follow deltas are read against the month's own snapshot window. Spotify\n  // exposes no followed_at on /me/following, so a follow is only ever \"first\n  // observed on day D\" -- an artist already followed when harvesting began is\n  // indistinguishable from one followed that morning. Anchoring on the window\n  // makes that explicit: new_follow means the follow appeared AFTER the first\n  // snapshot of the month, which is the only case the data can support.\n  const monthDays = [...b.days].sort();\n  const firstDay = monthDays[0], lastDay = monthDays[monthDays.length - 1];\n  const artists = {};\n  for (const [name, r] of [...b.artists.entries()].sort((a, c) => a[0].localeCompare(c[0]))) {\n    const days = [...r.days].sort();\n    const fdays = [...r.followed_days].sort();\n    const firstFollowed = fdays[0] || null, lastFollowed = fdays[fdays.length - 1] || null;\n    artists[name] = {\n      days_seen: r.days.size, first_seen: days[0], last_seen: days[days.length - 1],\n      top_ranges: [...r.top_ranges].sort(), in_top_artists_days: r.in_top_artists_days.size,\n      in_top_tracks_days: r.in_top_tracks_days.size, followed: r.followed,\n      followed_days: r.followed_days.size,\n      first_followed: firstFollowed, last_followed: lastFollowed,\n      // Followed for the first time mid-window -> a genuine new follow.\n      new_follow: Boolean(firstFollowed) && firstFollowed > firstDay,\n      // Was followed, then absent from the list by the final snapshot.\n      unfollowed: Boolean(lastFollowed) && lastFollowed < lastDay,\n      saved_tracks_max: r.saved_tracks_max, plays: r.plays.size, genres: [...r.genres].sort(),\n    };\n  }\n  const rollup = {\n    month, generated_at: now.toISOString(), source: 'spotify-web-api', harvester: 'music-curator/n8n rollup',\n    schema: 2, snapshot_days: b.days.size, snapshot_first_day: firstDay, snapshot_last_day: lastDay,\n    profile: b.profile, playlists_count: b.playlistsCount,\n    followed_count: Object.values(artists).filter((a) => a.followed).length,\n    new_follow_count: Object.values(artists).filter((a) => a.new_follow).length,\n    artist_count: Object.keys(artists).length, artists,\n  };\n  payloads.push({\n    month, path: `data/harvests/${month}.json`, content: JSON.stringify(rollup, null, 2) + '\\n',\n    branch: `harvest/rollup-${month}`,\n    message: `chore(harvest): roll up ${month} Spotify snapshots (${b.days.size} days, ${rollup.artist_count} artists)`,\n    prTitle: `chore(harvest): ${month} Spotify roll-up`,\n    prBody: `Automated monthly Spotify roll-up for ${month} (${b.days.size} snapshot days, ${rollup.artist_count} artists).\\n\\nGenerated by the music-curator n8n consumer from the durable Redis queue. Inputs only -- does not rewrite the curated inventory.`,\n  });\n}\n\n// --- git helpers (low-level data API -> no base64 needed) ---\nasync function gh(method, path, body) {\n  return await helpers.httpRequest({\n    method, url: GH + path,\n    headers: { Authorization: 'Bearer ' + TOKEN, Accept: 'application/vnd.github+json', 'User-Agent': 'music-curator-n8n', 'X-GitHub-Api-Version': '2022-11-28' },\n    body: body ? JSON.stringify(body) : undefined, json: true,\n  });\n}\n\nconst results = [];\nfor (const p of payloads) {\n  // 1. base commit + its tree\n  const ref = await gh('GET', `/repos/${OWNER}/${REPO}/git/ref/heads/${BASE}`);\n  const baseSha = ref.object.sha;\n  const baseCommit = await gh('GET', `/repos/${OWNER}/${REPO}/git/commits/${baseSha}`);\n  // 2. blob (utf-8), tree, commit\n  const blob = await gh('POST', `/repos/${OWNER}/${REPO}/git/blobs`, { content: p.content, encoding: 'utf-8' });\n  const tree = await gh('POST', `/repos/${OWNER}/${REPO}/git/trees`, { base_tree: baseCommit.tree.sha, tree: [{ path: p.path, mode: '100644', type: 'blob', sha: blob.sha }] });\n  const commit = await gh('POST', `/repos/${OWNER}/${REPO}/git/commits`, { message: p.message, tree: tree.sha, parents: [baseSha] });\n  // 3. branch ref pointing at the new commit\n  await gh('POST', `/repos/${OWNER}/${REPO}/git/refs`, { ref: `refs/heads/${p.branch}`, sha: commit.sha });\n  // 4. open PR\n  const pr = await gh('POST', `/repos/${OWNER}/${REPO}/pulls`, { title: p.prTitle, head: p.branch, base: BASE, body: p.prBody });\n  // 5. auto-merge when green (GraphQL). GraphQL logic errors return HTTP 200 with an\n  //    `errors` array -- e.g. \"Pull request is in clean status\" when nothing gates it.\n  //    In that case merge directly (squash). If neither works, leave the PR open.\n  let outcome = 'auto_merge_armed';\n  const gql = await helpers.httpRequest({\n    method: 'POST', url: GH + '/graphql',\n    headers: { Authorization: 'Bearer ' + TOKEN, 'User-Agent': 'music-curator-n8n' },\n    body: JSON.stringify({ query: 'mutation($id:ID!){enablePullRequestAutoMerge(input:{pullRequestId:$id,mergeMethod:SQUASH}){pullRequest{number}}}', variables: { id: pr.node_id } }),\n    json: true,\n  });\n  if (gql && gql.errors && gql.errors.length) {\n    try { await gh('PUT', `/repos/${OWNER}/${REPO}/pulls/${pr.number}/merge`, { merge_method: 'squash' }); outcome = 'merged_directly'; }\n    catch (e) { outcome = 'pr_open_manual_merge'; }\n  }\n  results.push({ json: { month: p.month, pr: pr.number, branch: p.branch, outcome } });\n}\nreturn results;\n"
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Roll up + commit PR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "spotify:harvests",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "Drain queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ],
      "credentials": {
        "redis": {
          "id": "redisLocal01",
          "name": "Redis (local)"
        }
      }
    }
  ],
  "connections": {
    "Monthly 1st 02:00": {
      "main": [
        [
          {
            "node": "Read queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read queue": {
      "main": [
        [
          {
            "node": "Roll up + commit PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roll up + commit PR": {
      "main": [
        [
          {
            "node": "Drain queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "active": false
}
